{% extends 'base.html' %}

<!------------- Title ------------->
{% block title %}
Главная страница
{% endblock %}
<!--------------------------------->

<!------------- Content head ------------->
{% block content_head %}

{% endblock %}
<!---------------------------------------->



<!------------- Content ------------->
{% block content %}
User {{ session['user'] }}
{% endblock %}
<!----------------------------------->




<!------------- Modal ------------->
{% block modal %}


{% endblock %}
<!--------------------------------->