{% extends 'base.html' %}

<!------------- Title ------------->
{% block title %}
Логи
{% endblock %}
<!--------------------------------->

<!------------- Content head ------------->
{% block content_head %}

{% endblock %}
<!---------------------------------------->



<!------------- Content ------------->
{% block content %}
<h3>Логи</h3>
{% endblock %}
<!----------------------------------->




<!------------- Modal ------------->
{% block modal %}


{% endblock %}
<!--------------------------------->