{% extends 'base.html' %}

<!------------- Title ------------->
{% block title %}
Пользователи
{% endblock %}
<!--------------------------------->

<!------------- Content head ------------->
{% block content_head %}

{% endblock %}
<!---------------------------------------->



<!------------- Content ------------->
{% block content %}
<h3>Создать пользователя</h3>
User {{ session['user'] }}
{% endblock %}
<!----------------------------------->




<!------------- Modal ------------->
{% block modal %}


{% endblock %}
<!--------------------------------->